<!DOCTYPE html>
<html>
  <head>
    <title>PostAppSorcery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if logged_in? %>
    <%= render partial: 'shared/header' %>
  <% else %>
    <%= render partial: 'shared/before_login_header' %>
  <% end %>
  
    <div class="container">
    <%= yield %>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
